@model IEnumerable<test.Models.Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Header-->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <h3> Welcome to the Library Website!</h3>
        </div>
    </div>
    <!-- Table of Books-->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> TITLE </th>
                        <th> PUBLISHER </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Publisher)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
