<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div>
            <form action="/Home/LoginBorrower" method="post">
                <fieldset>
                    <legend>Please Login:</legend>
                    Card Number : <input type="text" name="cardNo" />
                    Password : <input type="password" name="password" />
                    <input type="submit" value="Submit" />
                </fieldset>
            </form>
        </div>
        <div>
            <h4 style="color: red;">@ViewBag.Message</h4>
        </div>
        <div>
            Dont have an account? Register here
        </div>
    </div>
</body>
</html>
